<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Controle de Presença{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="container py-4 border-bottom">
  <div class="row align-items-center">
    <div class="col-12 col-md-2 text-center text-md-start mb-3 mb-md-0">
      <img src="{{ url_for('static', filename='imgs/LogoRotary.png') }}" alt="Logo Rotary" class="img-fluid" style="max-height: 80px;">
    </div>
  </div>
</header>

<main>
  {% set current_path = request.path %}
  {% if current_path not in ['/', '/confirmar', '/inscricaoconfirmada'] %}
  <a href="/" class="botao-voltar" style="margin-right: 15px;">&larr; Voltar</a>
  {% endif %}
  {% block content %}{% endblock %}
</main>

<footer>
  <p>&copy; Controle de Presença - Conferência do Rotary - Distrito 4470</p>
</footer>

</body>
</html>